<h6 class="center">
  <i class="material-icons red-text center" style="font-size:45px;">settings_remote</i>
</h6>
<h5 style="font-size:18px;color:#323538" class="center">Controles remotos conectados</h5>
<ul class="collection container">

  <div *ngIf="tcp.connectedClients.length > 0">


    <li class='collection-item avatar' *ngFor="let cli of tcp.connectedClients">
      <img src='assets/img/cellphone.png' alt='' class='circle' style='margin-top:10px'>
      <div class='title' style='margin-top:20px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>
        {{ getCleanAddress(cli.remoteAddress) }}</div>
        <app-remote-server-status [address]= "getCleanAddress(cli.remoteAddress)" ></app-remote-server-status>
    <li>
  </div>

  <li class="collection-item" *ngIf="tcp.connectedClients.length == 0">
    <h6 class="center">No hay clientes conectados</h6>
  </li>


</ul>

<div id="infoModal" class="modal">
  <div class="modal-content" style="z-index: 999;">
    <h6 class="center">
      <h5 style="font-size:18px;color:#323538">Como conectar nuevos dispositivos?</h5>
      <div class="row">
        <div class="col s12">
          <h5 style="font-size:15px;">Escanear el siguiente codigo</h5>
        </div>
        <div class="col s12 center-align">
          <qrcode [qrdata]="tcp.currentIp" [size]="500" [level]="'M'"></qrcode>
        </div>
        <div class="col s12">
          <p style="font-size:13px;color:gray; "><i class="material-icons inline-icon">android</i> Abrir app >
            Seleccionar la opcion de control remoto > Hacer click en el boton flotante <br>
        </div>
      </div>
    </h6>
  </div>
  <div class="col s12 m6">


  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light red" (click)="openModal()"
  style="position: fixed;right:30px;bottom:30px;"><i class="material-icons">add</i></a>
