<header>


  <app-navbar></app-navbar>

</header>
<!--Other pages-->
<div style="position: fixed;top:65px;left:0;background-color: white;z-index: 450;" *ngIf="!isOnIndex()">
  <div style="height:calc(100vh - 65px);width:100vw;position: relative;overflow-y: auto;">
    <router-outlet>

    </router-outlet>
  </div>
</div>
<!--Other pages-->

<div *ngIf="play.quenue.length > 0">
  <!--Main player-->
  <app-player></app-player>
  <!--Main player-->

  <!--Info dependable Modals-->
  <app-about-modal></app-about-modal>
  <!--Info dependable Modals-->
</div>

<!--Always renderable elements-->
<app-actionsmodal></app-actionsmodal>
<app-downloadmodal></app-downloadmodal>
<app-linkdrag></app-linkdrag>
<!--Always renderable elements-->
