<div id='shadow3' onclick="cerrardescargar()"> </div>

<div id='modal3'>
  <ul class="collection with-header" id='listin'>

    <li class="collection-item " onclick="descargarmodal('720p')">
      <div id='contextico'>Video 720p
        <a class="secondary-content">
          <i class="material-icons" id='imgsubelement'>file_download</i>
        </a>
      </div>
    </li>
    <li class="collection-item " onclick="descargarmodal('360p')">
      <div id='contextico'>Video 360p
        <a class="secondary-content">
          <i class="material-icons" id='imgsubelement'>file_download</i>
        </a>
      </div>
    </li>
    <li class="collection-item " onclick="descargarmodal(null)">
      <div id='contextico'>MP3
        <a class="secondary-content ">
          <i class="material-icons" id='imgsubelement'>file_download</i>
        </a>
      </div>
    </li>

  </ul>
</div>
