<div id='shadow3' (click)="closeModal()"> </div>

<div>

  <ul class="collection with-header" id='modal3'>
    <div *ngIf="!isFetchingInfo">
      <li class="collection-header">
        <h6 class="center">
          <i class="material-icons red-text center" style="font-size:45px;">fullscreen</i>
        </h6>
        <h5 style="font-size:23px;color:#323538" class="center">Seleccione la calidad de descarga</h5>
      </li>
      <li class="collection-item " (click)="beginDownload('720p')">
        <div id='contextico'>Video 720p
          <a class="secondary-content">
            <i class="material-icons red-text" id='imgsubelement'>file_download</i>
          </a>
        </div>
      </li>
      <li class="collection-item " (click)="beginDownload('360p')">
        <div id='contextico'>Video 360p
          <a class="secondary-content">
            <i class="material-icons red-text" id='imgsubelement'>file_download</i>
          </a>
        </div>
      </li>
      <li class="collection-item " (click)="beginDownload(null)">
        <div id='contextico'>MP3
          <a class="secondary-content ">
            <i class="material-icons red-text" id='imgsubelement'>file_download</i>
          </a>
        </div>
      </li>
      <li class="collection-item " (click)="closeModal()">
       <div class="btn btn-flat red-text right">Cerrar</div>
      </li>
    </div>


    <li *ngIf="isFetchingInfo">
      <div class="preloader-centered">
      <app-preloader [size]="'big'" ></app-preloader>
    </div>
    </li>

  </ul>
</div>
