<div id='shadow4' (click)="modal.CloseActionsModal()"></div>
    <div id='modal4' >


      <div *ngIf="modal.selectedItem != undefined">
        <img class='circle' id='imagenmodal33' src='{{ getThumbnail() }}'/>

        <h3 id='textomodal11'>{{ modal.selectedItem.title }}</h3>
        <h3 id='textomodal22'>{{ modal.selectedItem.url}}</h3>
      </div>
        <div id='liniitaxddd'></div>
        <ul class="collection with-header" id='listin2'>

            <li class="collection-item" id='modalelem1' (click)="playVideo()">
                <div id='contextico'>Reproducir
                    <a class="secondary-content red-text">
                        <i class="material-icons" id='imgsubelement'>play_arrow</i>
                    </a>
                </div>
            </li>
            <li class="collection-item" id='modalelem2' *ngIf="!canDelete()" (click)="addVideo()">
                <div id='contextico' class='textoagregar'>Agregar a la cola
                    <a class="secondary-content red-text">
                        <i class="material-icons" id='imgsubelementd'>library_add</i>
                    </a>
                </div>
            </li>

            <li class="collection-item" id='modalelem3' (click)="downloadVideo()">
                <div id='contextico'>Descargar
                    <a class="secondary-content red-text ">
                        <i class="material-icons" id='imgsubelement'>file_download</i>
                    </a>
                </div>
            </li>

        </ul>

    </div>
