<div id='shadow4' onclick="cerrarmodalesagelim()"></div>

    <div id='modal4'>

        <img class='circle' id='imagenmodal33' src=''>
        <h3 id='textomodal11'></h3>
        <h3 id='textomodal22'></h3>
        <div id='liniitaxddd'></div>
        <ul class="collection with-header" id='listin2'>

            <li class="collection-item" id='modalelem1'>
                <div id='contextico'>Reproducir
                    <a class="secondary-content">
                        <i class="material-icons" id='imgsubelement'>play_arrow</i>
                    </a>
                </div>
            </li>
            <li class="collection-item" id='modalelem2'>
                <div id='contextico' class='textoagregar'>Agregar a la cola
                    <a class="secondary-content">
                        <i class="material-icons" id='imgsubelementd'>play_arrow</i>
                    </a>
                </div>
            </li>
            <li class="collection-item" id='modalelem3'>
                <div id='contextico'>Descargar
                    <a class="secondary-content ">
                        <i class="material-icons" id='imgsubelement'>file_download</i>
                    </a>
                </div>
            </li>

        </ul>

    </div>
