<!--Related list view-->
<div *ngIf="relatedvideo != null">
  <div class='col s12 ' (click)="playVideo()" *ngIf="!canDelete()">
    <ul class='collection'>
      <li class='collection-item avatar'><img style=' user-select: none;margin-top:12px;'
          src='{{ relatedvideo.video_thumbnail }}' alt='' class='circle'>
        <div class='title' style=' user-select: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>
          {{ relatedvideo.title }}
        </div>
        <p style=' user-select: none;'>
          {{ relatedvideo.author }}
          <br>
          {{ relatedvideo.short_view_count_text }}


          <a  style="display: flex;margin-top:15px;" class='secondary-content'>
            <i class='material-icons red-text' style="margin-right:10px;" materialize="tooltip" data-position="top"
              [materializeParams]="[{tooltip:'Descargar elemento'}]">file_download</i>

            <i class='material-icons red-text' *ngIf="!canDelete()" (click)="addVideo()" materialize="tooltip"
              data-position="top" [materializeParams]="[{tooltip:'Agregar a la lista'}]">library_add</i>
            <i class='material-icons red-text' *ngIf="canDelete()" (click)="deleteVideo()" materialize="tooltip"
              data-position="top" [materializeParams]="[{tooltip:'Eliminar de la lista'}]">delete</i>
          </a>
      <li>
    </ul>
  </div>

</div>

<!--Generic list view-->
<div *ngIf="listItem != null">
  <div class='col s12' (click)="playVideo()">
    <ul class='collection'>
      <li class='collection-item avatar'>
        <img style=' user-select: none;margin-top:12px;'src='{{ getImage(listItem.url) }}' alt='' class='circle'>
        <div class='title truncate centered-title' >
          {{ listItem.title }}
        </div>
        <a  style="display: flex;margin-top:15px;" class='secondary-content'>
          <i class='material-icons red-text' style="margin-right:10px;" (click)="addVideo()" materialize="tooltip"
            data-position="top" [materializeParams]="[{tooltip:'Descargar elemento'}]">file_download</i>

          <i class='material-icons red-text' *ngIf="!canDelete()" (click)="addVideo()" materialize="tooltip"
            data-position="top" [materializeParams]="[{tooltip:'Agregar a la lista'}]">library_add</i>
          <i class='material-icons red-text' *ngIf="canDelete()" (click)="deleteVideo()" materialize="tooltip"
            data-position="top" [materializeParams]="[{tooltip:'Eliminar de la lista'}]">delete</i>
        </a>

      <li>
    </ul>
  </div>


</div>
