.player-container{
  margin-top: 95px;
}
#rowvideo {

  height: 100%;
  width: 100%;
  z-index: 99999999;
 margin-top: 5px;
}

.custom-placeholder{
  height:90px;
}

#title{
  font-size: 18px;
}

#minidescripcion {
  height: 60px;

}
#imagencanal {
  position: absolute;
  margin-left: 8px;
  margin-top: 20px;
  height: 45px;
  width: 45px;
}
#nombrecanal {
  margin-top: 23px;
  position: absolute;
  margin-left: 60px;
  font-size: 16px;
}
#fechapublicacion {
  margin-top: 42px;
  position: absolute;
  font-size: 12px;
  margin-left: 60px;
  color: gray;

}
#vermas {
  margin-top: 60px;
  position: absolute;
  font-size: 16px;
  margin-left: 25%;
  color: gray;

}
#backoo {

  height: calc(90vh - 210px);
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

#views {
  color: gray;
  font-size: 12px;
}
#liniita {

  width: 100%;
  height: 1px;
  background-color: #D6D6D4;
}


@media(max-width:990px){
  .player-container{
    margin-top: 0px;
  }
  #backoo {

    height: 100%;
    width: 100%;
    overflow: visible;
    overflow-x: hidden;
  }
  #rowvideo {

    height: 100%;
    width: 100%;
    z-index: 400;
  }
}



.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.collection .cdk-drop-list-dragging .collection-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
