<div class="player-container">
  <div class='row' id="rowvideo">


    <div class='col s12 m12 l7'>
      <div class="row" id='rowsubvideo'>


        <app-video-player></app-video-player>
      </div>


      <h5 id='title'>{{ play.info.title }}</h5>


      <h5 id='views'>{{ play.info.player_response.videoDetails.viewCount |number}} Visualizaciones</h5>

      <div id='liniita'></div>
      <div class="row" id='minidescripcion'>

        <img style=' user-select: none;' src="{{ play.info.author.avatar }}" alt='' class='circle' id='imagencanal'>


        <h2 id='nombrecanal'>{{ play.info.author.name }}</h2>

        <h2 id='fechapublicacion'>{{ play.info.player_response.microformat.playerMicroformatRenderer.publishDate |date}}
        </h2>

        <a id='vermas' (click)="openAboutModal()" class="">Ver mas</a>



      </div>

    </div>






    <div class='col s12 m12 l5' id='listaa' style="margin-top:10px"
      [ngStyle]="{'display':  isPlayerVisible()?'initial':'none'}">

      <div id='klowa' class='row'>
        <ul class="tabs" materialize="tabs">

          <li class="tab col s6">
            <a href="#tab1" class="active" (click)="selectTab(0)">Cola</a>
          </li>
          <li class="tab col s6">
            <a href="#tab2" (click)="selectTab(1)">Sugerencias</a>
          </li>
        </ul>
      </div>

      <div class='col s12' style='margin-left:2%;margin-right:2%;'>
        <h3 style='font-size:16px;margin-botton:20px; display:inline-block;'>Siguiente</h3>
        <h3
          style='font-size:14px;color:gray;left:calc(100% - 350px);margin-botton:20px;position:relative;display:inline-block;'>
          REPRODUCCIÓN AUTOMÁTICA</h3>
        <div class='switch '
          style='font-size:14px;margin-botton:20px; position:relative;display:inline-block;left:calc(100% - 338px);'>
          <label><input type='checkbox' [(ngModel)]="play.isAutoplayEnabled"><span class='lever'></span></label>
        </div>
      </div>

      <div id='backoo' class='row'>


        <div id="tab1">
          <ul class="collection" cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let playItem of this.play.quenue" cdkDrag >
              <div>
                <div class="custom-placeholder" *cdkDragPlaceholder></div>
                <app-list-item [listItem]="playItem" [currentPlayingUrl]=" this.play.info.video_url"></app-list-item>
              </div>
            </div>
          </ul>
        </div>


        <div id="tab2">
          <ul class="collection">
            <div *ngFor="let sugg of this.play.info.related_videos">
              <div>
                <app-list-item [relatedvideo]="sugg" [currentPlayingUrl]=" this.play.info.video_url"></app-list-item>
              </div>
            </div>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
