
<app-page-header [icon]="'file_download'" [title]="'Historial de descargas'" ></app-page-header>
<cdk-virtual-scroll-viewport itemSize="96" class="infinite-scrolling-viewport">

  <ul class='collection container' style="margin-top:30px;" >
    <li> <div class="divider"></div></li>
    <div class="animated fadeIn" *cdkVirtualFor="let down of download.downloads.reverse()">
      <app-download-item [download]="down" ></app-download-item>
    </div>

    <li class="collection-item" *ngIf="download.downloads.length == 0">
      <h6 class="center">No se ha realizado ninguna descarga</h6>
    </li>

  </ul>
</cdk-virtual-scroll-viewport>
