<nav style="position: fixed;z-index:500;top:0;left: 0;">
  <!-- navbar content here  -->
   <div class="nav-wrapper red" >
  <a href="#" data-target="slide-out" class="button-collapse show-on-large" materialize="sideNav" [materializeParams]="[{edge:'left'}]"
  data-activates="mobile-demo">
    <i class="material-icons">menu</i>
  </a>
  <form >
    <div class="input-field"  >
        <input id="search" (keyup)="search($event)" [(ngModel)]="searchQuery" type="search" name="search" placeholder="Buscar" style="background-color: white;color: black;">
        <label class="label-icon" for="search"><i class="material-icons black-text" style="margin-top: -12px;">search</i></label>

    </div>
</form>
</div>
</nav>



<ul id="mobile-demo" class="side-nav" style="z-index:99999;">
  <li>
    <a class="waves-effect" [routerLink]="['/searcher']"  >Abrir buscador</a>
  </li>
  <li>
    <a class="waves-effect" [routerLink]="['/']">Repoductor</a>
  </li>
  <li>
    <a class="waves-effect" onclick="abrirbuscardorrapido()">Busqueda rápida</a>
  </li>
  <li>
    <a class="waves-effect" onclick="abrirclientes()">Abrir gestor de clientes</a>
  </li>
  <li>
    <a class="waves-effect" id='downloadbutton' onclick="abrirdescargas()">Descargas</a>
  </li>
  <li>
    <a class="waves-effect" onclick="abrirsettings()">Configuracion</a>
  </li>
</ul>
<div class="progress white" *ngIf="play.isLoading" style="position: fixed;z-index:99999;margin-top:60px;top:0;left: 0;"  >
  <div class="indeterminate red"></div>
</div>
