main {
  flex: 1 0 auto;
}

#frow {

  margin-top: -10px !important;

}

.tabs .indicator {
  height: 5px;
  background-color: #fff;

}

.infinite-scrolling-viewport {
  height: calc(90vh - 183px);
}

.card-actions a {

  margin-right: 5px;

}

.preloader-centered {
  margin-top: calc(35vh);

}
