<div style="margin-bottom:80px">
  <div *ngIf="currentSection == 0">


    <h5> Videos recomendados</h5>

    <div class="row">

      <div class="col s12 m6 xl4" *ngFor="let rec of search.recommendedVideos">
        <div class="card large">
          <div class="card-image">
            <img src="{{ getImage(rec.link) }}">

          </div>
          <div class="card-content">
            <span class="card-title truncate">{{ rec.title }}</span>
            <p>{{rec.description}}</p>
          </div>
          <h6 class="card-action center">
            <i class='material-icons red-text' style="margin-right:20px;" (click)="playVideo()" materialize="tooltip"
            data-position="top" [materializeParams]="[{tooltip:'Reproducir elemento'}]">play_arrow</i>
            <i class='material-icons red-text' style="margin-right:20px;" (click)="downloadVideo()" materialize="tooltip"
            data-position="top" [materializeParams]="[{tooltip:'Descargar elemento'}]">file_download</i>
          <i class='material-icons red-text'(click)="addVideo()" materialize="tooltip"
            data-position="top" [materializeParams]="[{tooltip:'Agregar a la lista'}]">library_add</i>
          </h6>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="currentSection == 1">

    <h5>Tendencia</h5>
    <div class="row">

      <div class="col s12 m6 xl4" *ngFor="let rec of search.trendsVideos">
        <div class="card large">
          <div class="card-image">
            <img src="{{ getImage(rec.link) }}">

          </div>
          <div class="card-content">
            <span class="card-title truncate">{{ rec.title }}</span>
            <p>{{rec.description}}</p>
          </div>
          <h6 class="card-action center">
            <i class='material-icons red-text' style="margin-right:20px;" (click)="playVideo()" materialize="tooltip"
            data-position="top" [materializeParams]="[{tooltip:'Reproducir elemento'}]">play_arrow</i>
            <i class='material-icons red-text' style="margin-right:20px;" (click)="downloadVideo()" materialize="tooltip"
            data-position="top" [materializeParams]="[{tooltip:'Descargar elemento'}]">file_download</i>
          <i class='material-icons red-text'(click)="addVideo()" materialize="tooltip"
            data-position="top" [materializeParams]="[{tooltip:'Agregar a la lista'}]">library_add</i>
          </h6>
        </div>
      </div>

    </div>



  </div>

  <div *ngIf="currentSection == 2">

    <h5>Videos favoritos</h5>

  </div>

</div>







<footer class="page-footer red" style="position: fixed;bottom:0px;width:100%;">
  <div class="col s12" style="padding-left:0px!important;padding-right:0px!important;">
    <ul class="tabs tabs-fixed-width transparent white-text">
      <li class="tab col s3" *ngFor="let sec of sections">
        <a (click)="setCurrentSection(sec.index)" style="cursor: pointer;" class="white-text">
          <i class="material-icons">{{ sec.icon }}</i>
        </a>
    </ul>
  </div>
</footer>
