<div style="margin-bottom:80px;" >



  <app-page-header [icon]="sections[currentSection].icon" [title]="sections[currentSection].title" ></app-page-header>

  <div *ngIf="currentSection == 0">

    <div class="preloader-centered" *ngIf="search.recommendedVideos.length == 0">
      <app-preloader [size]="'big'" ></app-preloader>
    </div>
    <cdk-virtual-scroll-viewport itemSize="200" class="infinite-scrolling-viewport" >
    <div class="row container">
      <div class="col s12 animated fadeIn" *cdkVirtualFor="let rec of search.recommendedVideos">
        <app-search-result [result]="rec"></app-search-result>
      </div>

    </div>
  </cdk-virtual-scroll-viewport>
  </div>

  <div *ngIf="currentSection == 1" >

    <div class="preloader-centered" *ngIf="search.trendsVideos.length == 0">
      <app-preloader [size]="'big'" ></app-preloader>
    </div>
    <cdk-virtual-scroll-viewport itemSize="200" class="infinite-scrolling-viewport" >
    <div class="row container" style="overflow-y:auto">
      <div *cdkVirtualFor="let rec of search.trendsVideos" >
        <div class="col s12 animated fadeIn">

          <app-search-result [result]="rec"></app-search-result>
        </div>

      </div>
    </div>
  </cdk-virtual-scroll-viewport>
  </div>

  <div *ngIf="currentSection == 2">
  </div>

</div>







<footer class="page-footer red" style="position: fixed;bottom:0px;width:100%;">
  <div class="col s12" style="padding-left:0px!important;padding-right:0px!important;">
    <ul class="tabs tabs-fixed-width transparent white-text">
      <li class="tab col s3" *ngFor="let sec of sections">
        <a (click)="setCurrentSection(sec.index)" style="cursor: pointer;" class="white-text">
          <i class="material-icons">{{ sec.icon }}</i>
        </a>
    </ul>
  </div>
</footer>
