<h6 class="center">
  <i class="material-icons red-text center" style="font-size:45px;">settings</i>
</h6>
<h5 style="font-size:23px;color:#323538" class="center">Configuraciones</h5>

<div class="container">




  <ul class="collection">


    <li class="collection-item avatar">
      <i class="material-icons circle">notifications</i>
      <span class="title">Notificaciones</span>
      <p class="grey-text "> {{ sett.notificationsStatus?"Habilitadas":"Deshabilitadas" }}
      </p>
      <a class="secondary-content">
        <div class="switch ntf-switch">
          <label>
            <input type="checkbox" id='notis' [(ngModel)]="sett.notificationsStatus">
            <span class="lever"></span>
          </label>
        </div>
      </a>
    </li>

    <li class="collection-item avatar">
      <i class="material-icons circle">featured_video</i>
      <span class="title">Reproductor flotante</span>
      <p class="grey-text "> {{ sett.floatingPlayerEnabled?"":"No" }} Aparecerá un video flotante al navegar entre menues
      </p>
      <a class="secondary-content">
        <div class="switch ntf-switch">
          <label>
            <input type="checkbox"  [(ngModel)]="sett.floatingPlayerEnabled" >
            <span class="lever"></span>
          </label>
        </div>
      </a>
    </li>

    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Ruta de descargas</span>
      <p class="grey-text ">{{ sett.selectedDownloadPath   }}
      </p>
      <a class="secondary-content pth-elem" (click)="selectPath()">
        <i class="material-icons grey-text"> folder</i>
      </a>
    </li>
  </ul>
</div>
