
    <div id='shadow5' onclick="cerrarsidebuscadorrapido()">
    </div>

    <div id='modal5'>
            <div class="preloader-wrapper big active" id="cargador1" style="display:none; position: absolute;top:0;bottom: 0;left: 0;right: 0;margin: auto;z-index:9999;" >
                    <div class="spinner-layer spinner-red-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
        <div class='row red z-depth-2'>
        <div class="input-field col s12" style="margin-left:15px;width:calc(100% - 45px)">

            <input id="textobucal" placeholder="Busqueda rapida" style="border-bottom:0px; color:white;  font-style:roboto;"  ><i class="material-icons "  style="font-size: 24px;margin-top:15px; position: absolute;left:calc(100% - 30px) ; color:white;" onclick='buscarfast()'>search</i>

          </div>
        </div>

        <div id="backoo5" class="row">
        </div>
    </div>
