/* You can add global styles to this file, and also import other style files */
#liniita {

  width: 100%;
  height: 1px;
  background-color: D6D6D4;
}
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

a:not([draggable=true]),
img:not([draggable=true]) {
    -webkit-user-drag: none;

}



h1 h2 h3 h4 h5 span strong img a i li p ul {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


#descripcion {
    -webkit-user-select: initial;

}


.plyr--full-ui input[type=range] {
  color: "#f44336";

}

.plyr--full-ui input[type='range']::-webkit-slider-runnable-track {

  color: "#f44336";
}

.plyr--full-ui input[type='range']::-webkit-slider-thumb {

  cursor: ew-resize;
  background: "#f44336";
  box-shadow: -80px 0 0 80px "#f44336";
}


.plyr__control--overlaid {
  background: rgba(244, 67, 54, .8);
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background:  rgba(244, 67, 54, .8);
}

.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba(244, 67, 54, .5);
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background:  rgba(244, 67, 54, .8);
}




.fullscreen-video{
  z-index:9999;
  position: fixed;
  top:0px;
  left:0px;
  height:100vh;
  width:100vw;
}

.floating-video{
  z-index:650;
  position: fixed;
  right:23px;
  bottom:30px;
  height:150px;
  width:270px;
}



@media only screen and (max-width: 990px) {
  #submundo {
    position: relative;
    height: 70%;
    width: 100%;

  }

  #laudio {

    height: 100%;
    width: 100%;
  }

  #vermas {

    margin-left: 45%;


  }

  #bodycito {
    overflow: auto;
    overflow-x: hidden;
    margin-top: 0px;
  }

  #klowa {
    padding: 0px;
    margin: 0px;

  }

  #putita {
    width: 100%;
    position: fixed;
    z-index: 900;
    top: 0%;
  }

  #rowvideo {
    padding-top: 75px;
    margin-left: 0px;
    margin-right: 0px;

  }

  #laudio {

    margin-left: 1%;
    margin-right: 1%;
  }

  #backoo {

    overflow: visible;

  }


}
