<li class='collection-item avatar'>

  <img style=' user-select: none;margin-top:12px;' src='{{ getImage() }}' alt='' class='circle'>
  <div class='title' style=' user-select: none; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'>
    {{ download.title }}</div>
  <div class='progress white' *ngIf="isDownloading()">
    <div class='determinate red' [ngStyle]="{'width':  download.progress+'%'}"></div>
  </div>
  <a  *ngIf="!isDownloading()" style="display: flex;margin-top:15px;" class='secondary-content'>
    <i class='material-icons red-text' style="margin-right:10px;" (click)="play()" materialize="tooltip"
      data-position="top" [materializeParams]="[{tooltip:'Reproducir elemento'}]">play_arrow</i>
    <i class='material-icons red-text' style="margin-right:10px;" (click)="openInFolder()" materialize="tooltip"
      data-position="top" [materializeParams]="[{tooltip:'Abrir carpeta contenedora'}]">folder</i>
  </a>
  <h5 style='font-size:12px' *ngIf="isDownloading()">Descargando {{ getQualityString() }} -> {{ download.progress+'%' }}
  </h5>
  <h5 style='font-size:12px' *ngIf="!isDownloading()">{{ download.downloadPath }}</h5>

</li>
<li> <div class="divider"></div></li>
