<cdk-virtual-scroll-viewport itemSize="200" class="infinite-scrolling-viewport" *ngIf="!searchSv.isLoading">
  <div class="row container" style="overflow-y:auto" >
    <div *ngIf="searchSv.searchResults.length>0">

      <div *cdkVirtualFor="let res of  searchSv.searchResults ">
        <div class="col s12 animated fadeIn">
          <app-search-result [result]="res"></app-search-result>
        </div>
      </div>
    </div>
  </div>

</cdk-virtual-scroll-viewport>

<div class="preloader-centered" *ngIf="searchSv.isLoading">
  <app-preloader [size]="'big'" ></app-preloader>
</div>
