:host(){
  overflow-y: hidden;
}
.card-image img{
  height: 80%;
  width:100%;
  padding-left:5%;
  padding-top:5%;
  padding-bottom:5%;
}
.text-medium{
  font-size:18px;
}
.text-small-truncated{
  text-overflow: ellipsis;
  overflow: hidden;
   white-space: nowrap;
   font-size:15px;
}
.preloader-centered{
  margin-top: calc(73vh - 230px );

}
.card{
  cursor: pointer;
}
.infinite-scrolling-viewport{

  height: calc(100vh - 70px);
}
